@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 95vh;
    align-content: center;
    background-color:beige;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid;
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(211, 241, 241);
}
#weekly{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.day{
    min-width: 100px;
}
.day + .day {
    border-left: 1px solid;
    padding: 0 15px;
}
#date,h3{
    text-transform: capitalize;
}
#actual-temp,.minday,.maxday,h3{
    font-size: 24px;
    font-weight: 900;
}
@media screen and (max-width:726px) {
    body{
        font-size:smaller;
        background-color: rgb(211, 241, 241);
        margin-top: none;
        align-content: flex-start;
    }
    #weekly{
        justify-content:baseline;
        flex-wrap: wrap;
    }
    main{
        width: 100%;
        border: none;
        padding: 0 25px;
    }
    
    .day + .day {
        border-left: 0;
    }
    .day{
        width: 100%;
        border-left: 0;
        border-bottom: 1px solid;
        padding: 0 15px;
        display: flex;
        justify-content: space-around;
        align-item: center;
    }
}
